<div class="AcercaDe">
    <div class="AcercaDe-Mi">
        <div class="AcercaDe-Mi-Foto">
            <img class="AcercaDe-Mi-Foto-Img"src="../../../assets/mi foto.jpeg"> 
        </div>
        
        <div class="AcercaDe-Mi-Profesion">
            <div class="AcercaDe-Mi-Profesion-Full"><h3>Full stack developer Jr</h3> </div>
            <div class="AcercaDe-Mi-Profesion-Nombre"><h3>Mertes Gonzalo</h3></div>
        </div>
    </div>
    <div class="AcercaDe-Resumen">
        <div class="AcercaDe-Resumen-Titulo">
            <h1>TITULO</h1>
        </div>
        <div class="AcercaDe-Resumen-Texto">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem explicabo tenetur voluptatibus perferendis, eaque, voluptatum laudantium placeat ullam quos nemo odio vel, dignissimos cum recusandae quisquam aliquam fuga dolore ex.

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem explicabo tenetur voluptatibus perferendis, eaque, voluptatum laudantium placeat ullam quos nemo odio vel, dignissimos cum recusandae quisquam aliquam fuga dolore ex.
            </p>
        </div>
    </div>
</div>