<div class="Exp">
    <div class="Exp-titulo">
        <h1>Experiencia laboral</h1>
    </div>
    <div class="Exp-logo">
        <img src="../../../assets/MercadoLibre.png">
    </div>
    <div class="Exp-Descripcion">
        <div class="Exp-Descripcion-Titulo">
            <h3> Mercado libre</h3>
        </div>

        <div class="Exp-Descripcion-Parrafo">
            <p>
            esto es solo un ejemplo esto es solo un ejemploesto es solo un ejemploesto es solo un ejemploesto es solo un ejemploesto es solo un ejemploesto es solo un ejemploesto es solo un ejemploesto es solo un ejemploesto es solo un ejemploesto es solo un ejemploesto es solo un ejemplo
            </p>
        </div>
    </div>

</div>
