.AcercaDe-Mi-Foto-Img {
    width: 100%;
    border-radius: 50%;
    
}
.AcercaDe-Mi{
    width: 23%;
    position: relative;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
   
}
.AcercaDe{
    background-color:#303766 ;
    Overflow:hidden 
}
.AcercaDe-Resumen{
    position: relative;
    float: right;
    width: 75%;
    height: 100%;
}


@media screen and (max-width:550px){
.AcercaDe-Mi{
        width: 100%;
       
    }
.AcercaDe-Mi-Foto-Img{
    width: 50%;
    align-items: center;
    margin-left: 25%;
   
}
h3{
    font-size: 3.5vw !important;
}
.AcercaDe-Resumen{
    width: 100%;
}
p{
    font-size: 3.5vw !important;
}

.AcercaDe-Resumen-Texto{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
}


h3{
    
    text-align:center;
    font-size: 2.2vw;
    color: #fff;
}
h1{
    margin-top: 5%;
    margin-left: 5%;
    text-align: center;
    font-size: 5vw;
    color: #fff;
}
div{
    background-color: #303766;
}
p{
    font-size: 2vw;
    color: #fff;
    text-align: center;
}
button{
    margin-top: 1vw;
}