
<div class="AcercaDe" >

    <div class="col-lg-2" id="row-button">
        <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar usuario
        </button>
    </div>

    <div class="AcercaDe-Mi">
        <div class="AcercaDe-Mi-Foto">
            <img class="AcercaDe-Mi-Foto-Img"src={{persona.img}}> 
        </div>
        
        <div class="AcercaDe-Mi-Profesion">
            <div class="AcercaDe-Mi-Profesion-Full"><h3>Full stack developer Jr</h3> </div>
            <div class="AcercaDe-Mi-Profesion-Nombre"><h3>{{persona.nombre}} {{persona.apellido}}</h3></div>
        </div>
    </div>
    <div class="AcercaDe-Resumen">
        <div class="AcercaDe-Resumen-Titulo">
            <h1>ACERCA DE MI</h1>
        </div>
        <div class="AcercaDe-Resumen-Texto">
            <p>
                {{persona.descripcion}}
            </p>
        </div>
    </div>
</div>

