
h1{
    font-size: 5vw;
    text-align: left;
    margin-left: 2VW;
    position: relative;
    width: 100%;
    color: #fff;
}
h2{
    font-size: 3vw;
    color: #fff;
}

td{
    color: #fff;
}

#row-button{
   position: relative;
   width: 100%; 
   margin-top: 1vw;
   margin-left: 2vw;
   margin-bottom: 1vw;
}

.row{
    background-color:#303766 ;
}

.container{
    max-width: 100%;
}

