.total{
   
    min-height: 100vh;
    height: 100% ;
}

.container{
    background-color: #fff;
    padding-top: 1vw;
    padding-right: 2vw;

}

input{
    background-color: #999;
    width: 100%;
}








