.menu-ingreso{
    float:right;
    align-items: center ;
    height: 50%;
   
   
}
.menu-LogoArg{
    float: left;
}
.menu-Li{
    float: right;  
}
.menu-Git{
    float: right;
}

.Menu{
    height: 5.5vw;
    background-color: #303766; 
    position: relative;
    top: 0%;
}

img{
    height: 5vw;
}
.menu-ingreso-cerrar{
    text-align:center;
    background-color: #303766; 
}

