<div class="Menu" >
    <div >
        <div class="menu-LogoArg" >
            <a target="_BLANK" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                <img class="Logo-arg" src="../../../assets/logo.png">
            </a>
        </div>
        <div class="menu-ingreso">
            <a href="/login">
            <img class="logo-ingreso"src="../../../assets/login.png">
            </a>
        </div>
        <div class="menu-Git">
            <a  target="_blank" href="https://github.com/GonzaloMertes">
                <img class="Logo-git" src="../../../assets/GitHub-Logo.png">
              </a>
        </div>
        <div class= "menu-Li" >
            <a href="https://www.linkedin.com/in/gonzalo-mertes-6b6373208/" target="_blank">
              <img class="Logo-li"src="../../../assets/Linkedin.logo.png">
            </a>
        </div>
       
    </div>
</div>